[popover] {
  padding: 1rem;
  max-height: 90vh;
  max-width: 50ch;
  width: 90vw;
  border: 0;
  margin: auto;
  opacity: 0;
  rotate: 360deg;
  transition: 0.5s allow-discrete;

  button {
    position: sticky;
    top: 0;
    justify-self: end;
  }

  &:popover-open {
    display: grid;
  }
}

[popover]:popover-open {
  opacity: 1;
  rotate: none;
}

@starting-style {
  [popover]:popover-open {
    rotate: -360deg;
    opacity: 0;
  }
}

/* Backdrop */
::backdrop {
  opacity: 0;
  transition: 0.5s allow-discrete;
  background: #0008;
}

:popover-open::backdrop {
  opacity: 1;
}

@starting-style {
  :popover-open::backdrop {
    opacity: 0;
  }
}
